*.pyc
images/eight.png
images/five.png
images/flag.png
images/four.png
images/hidden.png
images/highlight.png
images/mine.png
images/one.png
images/seven.png
images/seychelles.png
images/six.png
images/smiley_base.png
images/smiley_dead.png
images/smiley_shades.png
images/smiley.png
images/three.png
images/two.png
images/zero.png
pygame_tutorial.py
.coverage
